{% extends 'layout.html' %}
{% block content %}

{% if message %}
<div id="message" class="alert alert-success" role="alert">
    {{ message }}
    <button class="close" onclick="closeMessage()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<div id="container" class="container">
    <div class="row justify-content-around mt-5">

        <div class="col-5">
            <div class="list-group border rounded" style="height: 500px; overflow-y: scroll;">
                <button v-for="story in stories" @click="handleClick(story)" v-bind:class="{active: story.id == target.id}" class="list-group-item list-group-item-action">[[ story.name ]]</button>
            </div>
            <a v-if="user.id" class="btn btn-outline-primary w-100 mt-2" href="/story/create">ストーリーを投稿する</a>
        </div>

        <div class="col-7 text-center">
            <a v-if="target.id" v-bind:href="`/story/${target.id}`">
                <img id="image" class="border rounded mw-100" style="max-height: 400px;">
            </a>
            <img v-else class="w-100" src="/static/images/welcome.jpg">
            <div v-if="user.id && target.user_id == user.id" class="row mt-3 mx-3 justify-content-around">
                <a class="btn btn-outline-primary col-5" v-bind:href="`/story/${target.id}/edit`">編集</a>
                <a class="btn btn-outline-danger col-5" v-bind:href="`/story/${target.id}/delete`" onClick="return check()">削除</a>
            </div>
        </div>

    </div>
</div>

<script>
    function closeMessage() {
        $('#message').fadeOut('fast', () => $(this).remove());
    }
    function check() {
        if (window.confirm("本当に削除してもよろしいですか？")) return true;
        else return false;
    }
    new Vue({
        el: '#container',
        data: {
            user: {},
            target: {},
            stories: []
        },
        methods: {
            handleClick: function(story) {
                this.target = story;
                const xhr = new XMLHttpRequest();
                xhr.open('GET', `/api/story/${story.id}/image`, true);
                xhr.responseType = 'arraybuffer';
                xhr.onload = function() {
                    const blob = new Blob([this.response], {type: 'image/*'});
                    const url = window.URL || window.webkitURL;
                    const img = document.getElementById('image');
                    img.src = url.createObjectURL(blob);
                }
                xhr.send();
            }
        },
        mounted: function() {
            $.ajax({
                url: '/api/stories',
                dataType: 'json'
            })
            .then(
                stories => this.stories = stories,
                error => console.error(error)
            );
            $.ajax({
                url: '/api/user',
                dataType: 'json'
            })
            .then(
                user => this.user = user,
                error => console.error(error)
            );
        },
        delimiters: ['[[', ']]']
    })
</script>

{% endblock %}
