<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>Digital Image Documentary Gallery</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    </head>
    <body>
        <div style="position: absolute; left: 10px;">
            <a href="/" class="button" style="font-size: large;">Home</a>
        </div>

        <form action="" method="post" style="text-align: center;">
            <p><input type="text" name="username" placeholder="Name">
            <p><input type="password" name="password" placeholder="Password">
            <p><button class="button" style="cursor: pointer;">Login</button>
        </form>
    </body>
</html>
